.nodisplay {
  display: none;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  border-radius: 10px;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: sans-serif;
  color: #23293B;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
h1 {
  font-size: 5rem;
  text-align: center;
  padding: 20px;
}
.nav-links {
  max-width: 800px;
  padding-bottom: 10px;
  color: #22283A;
  background: #F6F6F6;
  padding: 20px 0;
  border: 2px double #038b14;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #23293B;
  padding: 0 20px 0 20px;
}
ol,
ul {
  display: flex;
}
@media (max-width: 500px) {
  .nav-links {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  ul {
    display: block;
  }
  li {
    padding: 10px;
  }
}
footer {
  color: #22283A;
  background: #F6F6F6;
  padding: 20px 0;
  border: 2px double #038b14;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  color: #22283A;
  background: #F6F6F6;
  padding: 20px 0;
  border: 2px double #038b14;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}
.home .intro .main {
  border-radius: 10px;
  width: 95%;
  margin: 20px 2.5%;
}
.home .intro h2 {
  padding: 15px;
}
.home .intro p {
  padding: 0 15px;
}
.home .showcase {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.home .showcase img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
@media (max-width: 500px) {
  .home .showcase img {
    width: 95%;
  }
}
@media (max-width: 500px) {
  .home .showcase {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .home .vol1,
  .home .vol3 {
    display: none;
  }
}
.home .howitworks {
  padding: 15px;
}
.home .howitworks h3 {
  margin-top: 11px;
}
.home .howitworks p {
  margin-top: 13px;
}
.home .impact {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 20px;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .home .impact {
    margin-top: 30px;
    flex-direction: column-reverse;
    padding: 0px;
  }
}
.home .impact .impact-text {
  width: 50%;
}
@media (max-width: 500px) {
  .home .impact .impact-text {
    width: 100%;
    padding: 15px;
  }
}
.home .impact .impact-text h3 {
  margin-bottom: 10px;
}
.home .impact .impact-text p {
  margin-bottom: 26px;
}
.home .impact .impact-text .btn {
  background-color: #038b14;
  color: #F6F6F6;
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
  padding: 12px 10px;
  width: 50%;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
.home .impact .impact-text .btn:hover {
  background-color: #F6F6F6;
  color: #038b14;
}
@media (max-width: 500px) {
  .home .impact .impact-text .btn {
    width: 100%;
  }
}
.home .impact .home .impact {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 20px;
  display: flex;
  justify-content: center;
}
.home .impact .smiling {
  width: 46%;
  margin-left: 4%;
}
@media (max-width: 500px) {
  .home .impact .smiling {
    width: 100%;
    padding: 15px;
    margin: 0px;
  }
}
.home .impact .smiling img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.about {
  display: flex;
  justify-content: space-between;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0px;
}
@media (max-width:700px) {
  .about {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    padding: 10px 15px;
    border-bottom: 2px solid lightgrey;
  }
}
.biopic {
  padding: 20px 10px;
  border-radius: 10px;
}
