// Navigation code here

h1 {
  font-size: 3rem;
  text-align: center;
  padding: 20px;
}

.nav-links {
  max-width: 800px;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

a {
  font-size: 1.5 rem;
  text-decoration: none;
  color: @ebony-clay;
  padding: 0 20px 0 20px;
}